/.curseclient
/.mixin.out
/betweenlands_gallery
/crafttweaker.log
/crash-reports
/downloads
/dumps
/logs
/minecraftinstance.json
/options.txt
/saves
/usercache.json
/usernamecache.json
/journeymap
/screenshots
config/splash.properties
config/jei/worldSettings.cfg
config/jei